PORT=4010
GITHUB_CLIENT_ID=Ov23liQqyFDeNWoDCfJK
GITHUB_CLIENT_SECRET=3d27320ce7036192f34ddad716664495a9bef4cb
OAUTH_REDIRECT_URI=https://buraktomakin.com.tr/cms-auth/callback
ALLOWED_ORIGIN=https://buraktomakin.com.tr
GITHUB_SCOPE=public_repo user:email